body {
	background-image: url('images/background.png');
} .title {
	align: center;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	font-family: var(--font-family-inter);
	font-weight: 500;
	font-size: 75px;
} form {
	background-color: #D7FFC9;
	padding: 20px 50px;
} form.btn {
	background-color: transparent;
	padding: 20px 50px;	
} input[type=text], select {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	align: center;
}.button {
	background-color: #74D651;
	border: 1px solid green;
	padding: 10px 30px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-family: var(--font-family-inter);
}.mbtn {
	background-color: #74D651;
	border: 1px solid green;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-family: var(--font-family-inter);
	width: 200px;
	height: 50px;
}