body {
	background-image: url('images/background.png');
} .title {
	align: center;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	font-family: var(--font-family-inter);
	font-weight: 500;
	font-size: 75px;
} form {
	background-color: #D7FFC9;
	padding: 20px 50px;
} form.btn {
	background-color: transparent;
	padding: 20px 50px;	
} input[type=text], select {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	align: center;
}.button {
	background-color: #74D651;
	border: 1px solid green;
	padding: 10px 30px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-family: var(--font-family-inter);
}.mbtn {
	background-color: #74D651;
	border: 1px solid green;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
  border-radius: 8px;
	font-family: var(--font-family-inter);
	width: 200px;
	height: 50px;
}

p.body {
	font-family: var(--font-family-inter);
	font-size: 18px;
	margin-left: 50px;
	margin-right: 50px;
}

.progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.progress-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

.progress-row label {
  width: 120px;
  text-align: right;
}

.progress-container {
  position: relative;
  flex: 1;
}

.progress-container progress {
  width: 100%;
  height: 40px;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.progress-box {
    background-color: #D7FFC9;
    padding: 20px 50px;
    border-radius: 8px;
    display: block;
	min-width: 500px;
}

.quiz-button {
	background-color: #4CAF50;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #74D651;
  border: 1px solid green;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family-inter);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.sm-title {
    font-family: var(--font-family-inter);
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: center;
}

.docs-text {
    font-family: var(--font-family-inter);
    font-size: 1.2rem;
    width: 100%;
    margin: 10px auto 20px auto;
    text-align: left;
}

.docs-box {
    background-color: white;
    padding: 10px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a.nav-btn {
  padding: 5px 20px;
  height: 100%;
  width: 300px;
  font-family: var(--font-family-inter);
  font-size: 18px;
  color: #042909;
  text-decoration: none;
}

table.navBar {
  background-color: #0C991B;
  width: 100%;
  height: 30px;
}